@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    4016 206th St. Ct. E<br />
    Spanaway, WA 98387<br />
    <abbr title="Phone">P:</abbr>
    253.223.3253
</address>

<address>
    <strong>Inquiry about WhoWhere:</strong> 
        <a href="mailto:rdrwood@gmail.com">rdrwood@gmail.com</a><br />
    <strong>Web Team:</strong> 
        <a href="mailto:rdrwood@gmail.com">rdrwood@gmail.com</a>
</address>