@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Sports Way<br />
    Tacoma, WA 98443<br />
    <abbr title="Phone">P:</abbr>
    425.000.0000
</address>

<address>
    <strong>Inquiry about ADAPTIVEBALL:</strong> 
        <a href="mailto:rdrwood@gmail.com">rdrwood@gmail.com (WILL CHANGE TO DIRECTOR</a><br />
    <strong>Web Team:</strong> 
        <a href="mailto:rdrwood@gmail.com">rdrwood@gmail.com</a>
</address>