@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    4016 206th St. Ct. E<br />
    Spanaway, WA 98387<br />
    <abbr title="Phone">P:</abbr>
    253.223.3253
</address>

<address>
    <strong>Inquiry about WhoWhere:</strong> 
    <a href="mailto:rdkwood@WhoWhereHow.org">rdkwood@WhoWhereHow.org</a><br />
    <strong>Web Team:</strong> 
    <a href="mailto:web@whowherehow.org">Web@WhoWhereHow.org</a>
</address>