@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WhoWhereHow</h1>
    <p class="lead">WhoWhereHow is an old idea to let others learn more about what is possible after disability.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>
            WhoWhereHow is for those that want to find out information about others with similar disabilities as them.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Here you can search about others with similar disabilities. Look to see what someone that is a t7 incomplete drives or what kinda chair a C3 uses.</p>
        <p><a class="btn btn-default" href="#">Search&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add your information</h2>
        <p>You can easily add your information to the database allowing others to search for helpful information from your experience.</p>
        <p><a class="btn btn-default" href="#">Add me... &raquo;</a></p>
    </div>
</div>